<a href="https://colab.research.google.com/github/loyedan/ELAIS--QST-2024-25-GH/blob/main/Copy_of_Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Linear Algebra with Python**

## **Python Functions**

Creating a function

In [ ]:
def my_function():
  print("Hello from a function")

Calling a function

In [ ]:
my_function()

Hello from a function

## **Argunents**

Example 1

In [ ]:
def my_function(fname):
  print(fname + " Ofori")

my_function("Daniel")

Daniel Ofori

## **Parameters and Arguments**

### **Number of Arguments**

### Example 1

In [ ]:
# the function expects 2 arguments ad gets 2 argument
# First name  = fname - 1st paramter
# last name = lname - 2nd parameter


def my_function(fname, lname): # define a function called my_function with two paramters fname and lname
  print(fname + " " + lname)   # when you call on our function print (fname and lname)

my_function("Daniel", "Ofori") # we called on our function with its arguments

Daniel Ofori

### **Trial Example 1**

In [ ]:
import numpy as np

def probability_density(potential, x):
  """Calculates the probability density of a particle in a given potential.

  Args:
    potential: A function that defines the potential energy of the particle.
    x: The position at which to calculate the probability density.

  Returns:
    The probability density at the given position.
  """

  # Solve the time-independent Schr√∂dinger equation
  # ...

  # Calculate the probability density from the wavefunction
  # ...

  return probability_density

In [ ]:
!pip install pingouin

import pingouin as pg

def cronbach_alpha(data):
  """Calculates Cronbach's alpha for a dataset.

  Args:
    data: A pandas DataFrame containing the items for which to calculate alpha.

  Returns:
    Cronbach's alpha as a float.
  """
  return pg.cronbach_alpha(data=data)[0]

# Example usage (replace with your actual data)
data = pg.read_dataset('cronbach_alpha')

alpha = cronbach_alpha(data)
print(f"Cronbach's alpha: {alpha}")

## Arbitary Arguments, *args

In [ ]:
# if the number is unknown, we add "*" before the parameter:
def my_function(*kids): # Defined a function with unknown number of parameters
  print("The youngest child is " + kids[2]) # when you call on the function pick the youngest amongst the arguments

my_function("Emil", "Kwadwo", "Pablo", "Ben")

The youngest child is Pablo

In [ ]:
# if the number is unknown, we add "*" before the parameter:
def my_function(*kids): # Defined a function with unknown number of parameters
  print("The youngest child is " + kids[-1]) # when you call on the function pick the youngest amongst the arguments

my_function("Emil", "Kwadwo", "Pablo", "Ben")

The youngest child is Ben

In [ ]:
# if the number is unknown, we add "*" before the parameter:
def my_function(*kids): # Defined a function with unknown number of parameters
  print("The youngest child is " + kids[-4]) # when you call on the function pick the youngest amongst the arguments

my_function("Emil", "Kwadwo", "Pablo", "Ben")

The youngest child is Emil

## **Keyword Arguments**

In [ ]:
def my_children(child3, child2, child1):
  print("The youngest child is " + child3) # Here the key is the youngest of my children is always the 3rd child

my_children(child3 = "Dan", child2 = "Kwadwo", child1 = "Pablo")

The youngest child is Dan

In [ ]:
def my_company(zmart, zmartlabs, zmartgh):
  print("My company's name was developed in " + zmartlabs) # Here the key is My company's name was developed is always the year stated

my_company(zmart = "2019", zmartlabs = "2023", zmartgh = "2020")

My company's name was developed in 2023

In [ ]:
def my_company(zmart, zmartlabs, zmartgh):
  print("My company's name was developed in " + zmartlabs) # Here the key is My company's name was developed is always the year stated

my_company(zmartlabs = "2024", zmartgh = "2019", zmart = "2020")

My company's name was developed in 2024

In [ ]:
def my_company(zmart, zmartlabs, zmartgh):
  print("My company's name was developed in " + zmartlabs) # Here the key is My company's name was developed is always the year stated

my_company(zmart = "2019", zmartlabs = "2023")

TypeError: my_company() missing 1 required positional argument: 'zmartgh'

***Avoid the Tyeerror made***

In [ ]:
def my_company(zmart, zmartlabs, zmartgh):
  print("My company's name was developed in " + zmartlabs) # Here the key is My company's name was developed is always the year stated

my_company(zmart = "2019", zmartlabs = "2023", zmartgh="2022") # Added a value for the missing argument zmartgh

My company's name was developed in 2023

In [ ]:
def my_shoppinglist(cereals, drinks, meat, toletries, fruits, vegetables):
  print("My favourite food is " + meat)

  my_shoppinglist(vegetables = "tomatoes", drinks = "2", meat = "fish", toiletriess = "4", fruits = "5", cereals = "34")

In [ ]:
def my_shoppinglist(cereals, drinks, meat, toletries, fruits, vegetables):
  print("My favourite food is " + meat)

  my_shoppinglist(vegetables = "tomatoes", drinks = "2", meat = "fish", toiletriess = "4", fruits = "5", cereals = "34")

## Arbitary Keyword Arguments, **kwargs

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Pontius")

His last name is Pontius

## **Default Parameter Value**

In [ ]:
def my_birthcountry(country = "Ghana"):
  print("I am from " + country)

my_birthcountry()
my_birthcountry("Nigeria")
my_birthcountry("Togo")
my_birthcountry("South Africa")

I am from Ghana
I am from Nigeria
I am from Togo
I am from South Africa

## **Passing a list as an argument**

In [ ]:
def my_choice_food(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]
snacks = ["chips", "crackers", "cookies"]
salads = ["caesar", "greek", "italian"]

my_choice_food(fruits)

apple
banana
cherry

## **Return Values**

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## **The pass statement**

In [ ]:
def myfunction():
  pass

## **Position-Only Argunents**

In [ ]:
def my_function(x, y, /):
  print(x, y)

my_function(1, 2)

1 2

## **Keyword-Only Arguments**

In [ ]:
def my_function(*, x, y):
  print(x, y)

my_function(x=1, y=2)

1 2

Combine Positional-Only and Keyword-Only

In [ ]:
def my_function(x, y, /, z, *, a, b):
  print(x, y, z, a, b)

my_function(1, 2, 3, a=4, b=5)

1 2 3 4 5