<a href="https://colab.research.google.com/github/loyedan/ELAIS--QST-2024-25-GH/blob/main/Linear_Algebra_with_python_Loops%2C_if%2C_else_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ** Linear Algebra with python - Loops, if, else**

## **Python Statement syntax**

In [1]:
# if statement example
if 10 > 5:
    print("10 is greater than 5")

    print("program ended")

10 is greater than 5
program ended

## **Python if-else statement syntax**

In [7]:
# if .. else statement example

x = 3
if x == 4:
    print("Yes")
else:
    print("No")

No

In [6]:
# if .. else statement example

x = 3
if x == 3:
    print("Yes")
else:
    print("No")

Yes

## **Nestsed if..else chain for multiple conditions**

In [8]:
# if.. else chain statement
letter = "A"

if letter == "B":
    print("letter is B")
else:
    if letter == "C":
        print("letter is C")
    else:
        if letter == "A":
            print("letter is A")
        else:
            print("letter is not A, B or C")

letter is A

In [9]:
# if.. else chain statement
letter = "C"

if letter == "B":
    print("letter is B")
else:
    if letter == "C":
        print("letter is C")
    else:
        if letter == "A":
            print("letter is A")
        else:
            print("letter is not A, B or C")

letter is C

In [ ]:
# if.. else chain statement
letter = "Z"

if letter == "B":
    print("letter is B")
else:
    if letter == "C":
        print("letter is C")
    else:
        if letter == "A":
            print("letter is A")
        else:
            print("letter is not A, B or C")

In [11]:
# if.. else chain statement
book = "Bible"

if book == "Talmud":
    print("The book is Jewish Talmud")
else:
    if book == "Torah":
        print("The book is Moses Torah")
    else:
        if book == "Bible":
            print("The book is truely the Bible of the Old and New Testamant")
        else:
            print("book is not Bible, Jewish Talmud or Moses's Torah")

The book is truely the Bible of the Old and New Testamant

## **Nested If Statement**

In [12]:
# Nested if statement
num = 3

if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

positive number

In [17]:
x = 5
if x > 5:
    print("x is greater than 5")

if x <= 5:
    print("x is less than 5")

x is less than 5

## **if-elif statemnent in Python**

In [23]:
x = 10
y = 5

if x > 5:
    if y > 5:
      print("x and y are greater than 5")
    if y == 5:
      print("x is greater than 5 and y is equal to 5")
    else:
      print("x is greater than 5 and y is less than 5")

x is greater than 5 and y is equal to 5

In [26]:
x = 10
y = 8

if x > 5:
    if y > 5:
      print("x and y are greater than 5")
    elif y == 5:
      print("x is greater than 5 and y is equal to 5")
    else:
      print("x is greater than 5 and y is less than 5")

x and y are greater than 5

In [25]:
x = 10
y = 8

if x > 5:
    if y > 5:
      print("x and y are greater than 5")
    elif y == 5:
      print("x is greater than 5 and y is equal to 5")
    else:
      print("x is greater than 5 and y is less than 5")

x and y are greater than 5